*, body, html {
    margin: 0;
}

.containter-custom {
    max-width: 700px;
}

.active {
    color: chocolate;
}

.brand-span {
    color: chocolate;
}

.strip {
    height: 4px;
    background: chocolate;
}

.counter-display-button-area {
    margin-top: 75px;
}

.counter-display-button-area > button {
    color: white;
    background-color: chocolate;
    padding: 1em;
    border-radius: 0;
}

.btn-area {
    margin-top: 40px;
    height: auto;
    width: 400px;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
}

#btn-counter:hover, #btn-subtract:hover {
    transform: translateY(-2px);
    border:none;
    background-color: chocolate;
}

.close {
    border: 1px solid white;
    margin-left:370px;
    border-top: none;
    border-right: none;
    cursor: pointer;
}

.close:hover, #close-2:hover {
    background-color: chocolate;
}

#close-2 {
    border: 1px solid white;
    border-top: none;
    border-right: none;
    cursor: pointer;
    margin-left: 260px;
}

.showcase {
    background: url(../img/scenic-view-of-the-beach-723241.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 450px;
}

.counter-display {
    margin: 0 56px 0 56px;
    border: 1px solid white;
    padding-bottom: 12px;
    display: none;
}

.heading {
    width: 100%;
    padding-top: 10px;
}

p {
    text-align: justify;
}

.newsletter  {
    height: auto;
}

.newsletter-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.newsletter-form input{
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sub-row {
    padding-left: 10px;
    padding-right: 50px;
}

.sub-btn {
    background-color: chocolate;
}

.sub-form {
    padding-top: 4px;
}

.sub-text {
    font-size: large;
    font-weight: bold;
    text-transform: capitalize;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.footer {
    background: chocolate;
    text-transform: capitalize;
}

@media(max-width: 768px) {
    
}

/* Phone media queries */
@media(max-width: 500px) {
    .btn-area {
        margin-bottom: 40px !important;
    }
    .showcase-content  h1 {
        padding: 0;
        font-size: 1.5rem;
    }
}